{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block nav_title %}Blog - Cameron Dahl{% endblock %}

{% block main %}
<h1>Edit Post</h1>
<form method="post">
	<label for="title">Title</label>
	<input type="text" name="title" value="{{post[1]}}">
	<label for="body">Body</label>
	<textarea name="body" rows="30">{{post[4]}}</textarea>
	<label for="image_url">Image URL</label>
	<input type="url" name="image_url" value="{{post[2]}}"></input>
	<label for="slug">Slug</label>
	<input type="text" name="slug" value="{{post[3]}}"></input>
	<label for="draft">Draft</label>
	<input type="checkbox" name="draft">
	<button type="submit">Submit</button>
</form>
<style type="text/css">
	label {
		color: white;
	}
	input[type="text"],input[type="url"],button, textarea {
		width: 100%;
	}
	button {
		background: #115173;
		border: none;
		cursor: pointer;
		padding: 10px;
		border-radius: 50px;
		color: white;
	}
</style>
{% endblock %}